.Bible {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bible-img {
    position: absolute;
    margin: 13% 0 0 0;
    transform: scale(0.4);
    animation: hover 4s infinite;
}

@media only screen and (max-width: 768px) {
    .bible-img {
        margin: 30% 0 0 0;
        transform: scale(0.3);
    }
}

@keyframes hover {
    0% {top: 15%;}
    50% {top: 18%;}
    100% {top: 15%;}
}